* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  background: #dedede; }

#popup1 {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  text-align: center; }
  #popup1 .wrapper {
    overflow: hidden;
    height: 300px;
    width: 100%;
    position: relative;
    top: 36%; }
    #popup1 .wrapper h2 {
      color: greenyellow;
      margin-bottom: 50px;
      font-size: 1.8em;
      font-weight: bold; }
    #popup1 .wrapper h1 {
      color: greenyellow;
      font-size: 3em;
      text-align: center;
      margin-bottom: 15px;
      font-weight: lighter; }
    #popup1 .wrapper a {
      background: transparent;
      border: 2px solid greenyellow;
      padding: 20px;
      font-size: 1.5em;
      color: greenyellow;
      text-decoration: none; }
      #popup1 .wrapper a:hover {
        -webkit-transition: .7s;
                transition: .7s;
        background: rgba(173, 255, 47, 0.4);
        color: white; }

#container {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 1300px;
  margin: 0 auto; }
  #container .opis {
    width: 60%;
    text-align: center;
    float: left; }
    #container .opis h1 {
      font-size: 2.4em;
      height: 400px;
      display: table-cell;
      vertical-align: middle; }
  #container .zdjecie {
    width: 40%;
    float: left; }
  #container .alfabet, #container .haslo {
    text-align: center;
    font-weight: bold;
    margin-top: 30px; }
    #container .alfabet li, #container .haslo li {
      display: inline-block;
      width: 60px;
      height: 60px;
      text-transform: uppercase;
      border: 1px solid #ddd;
      background: #fefefe;
      margin: 5px;
      line-height: 60px;
      cursor: pointer;
      overflow: auto; }
    #container .alfabet li.space, #container .haslo li.space {
      background: none;
      cursor: default;
      height: 0;
      display: block; }
    #container .alfabet .exist, #container .haslo .exist {
      -webkit-transition: 1s;
              transition: 1s;
      background: greenyellow; }
    #container .alfabet .notExist, #container .haslo .notExist {
      -webkit-transition: 1s;
              transition: 1s;
      background: #cbcbcb;
      color: #b2b2b2; }
    #container .alfabet .fadeIn, #container .haslo .fadeIn {
      opacity: 1;
      -webkit-transition: .7s;
              transition: .7s; }
  #container .alfabet {
    position: relative;
    z-index: 999; }
  #container .chances {
    text-align: center;
    margin-top: 30px; }
    #container .chances h3 {
      font-size: 2em;
      color: red; }
    #container .chances button {
      margin-top: 20px;
      margin-left: 0;
      opacity: 0;
      padding: 12px;
      font-size: 2em;
      color: #cbcbcb;
      background: black;
      border: 2px solid black;
      border-radius: 50px;
      cursor: pointer; }
  #container .animation {
    -webkit-transition: 1.5s ease-out;
            transition: 1.5s ease-out;
    -webkit-transform: rotateX(1440deg);
            transform: rotateX(1440deg); }
  #container .animation_bt {
    -webkit-transition: 1s ease-out;
            transition: 1s ease-out;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }

/*# sourceMappingURL=style.css.map */